---
---
<style>
</style>
  
  <main class="flex flex-column min-h-screen justify-center items-center">
    <div class="bg-neutral-800 text-neutral-100 p-10 max-w-2xl border-2 border-sky-500 rounded-xl text-neutral-300">
      <p>
        Hello! I'm Franck Cai, a passionate web developer with a love for creating beautiful and functional websites. I have experience in various web technologies and enjoy learning new things every day. In my free time, I like to read, travel, and explore new places.
      </p>
    </div>
  </main>