---
---
<header class="fixed top-0 w-full  bg-neutral-900/10 bg-opacity-5 backdrop-blur-sm">
  <nav class="flex justify-center text-neutral-100">
    <a class="text-lg py-5 px-10 hover:text-sky-500 transition duration-500" href="/">Home</a>
    <a class="text-lg py-5 px-10 hover:text-sky-500 transition duration-500" href="/about">About Me</a>
    <a class="text-lg py-5 px-10 hover:text-sky-500 transition duration-500" href="/contact">Contact</a>
  </nav>
</header>

  <style>
    
  </style>