---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<main class="flex flex-column justify-center items-center text-center min-h-screen bg-neutral-900 text-neutral-100">
		<div class="">
			<h1 class="text-6xl">Welcome to Astro</h1>
			<p class="text-xl mt-5 ">Astro is a new kind of static site builder that delivers lightning-fast performance with a modern developer experience.</p>
		</div>
	</main>
</div>

<style>

</style>
